*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
backend/uploads/*.mkv filter=lfs diff=lfs merge=lfs -text
backend/uploads/*.mp4 filter=lfs diff=lfs merge=lfs -text
backend/uploads/*.zip filter=lfs diff=lfs merge=lfs -text
